# Entornos virtuales
venv/
.venv/
env/
*.venv

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de configuración local (¡Importante!)
.env
# --- Frontend (Node.js) ---
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*